[Bb]in
[Dd]ebug*/
obj/
.vs/
ReSharper.*/

packages/
node_modules/

*.log
*.crunchsolution.cache
*.suo
*.user
*.userprefs
*.jfm
*.vspscc
*.vssscc
*.pfx
*.dbmdl
.tfignore
*.coverage
*.trx
*.orig
*.pubxml
*.placeholder
